.sample {
  position: relative;
  display: grid;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  transition: border-radius 0.2s;
  &:hover {
    border-radius: 20%;
  }
  &:hover .sample--description {
    opacity: 1;
  }
}

.sample--image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.sample--description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  display: grid;
  gap: 10px;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: var(--color-background-6);
  border-radius: 20px;
  padding: 10px 20px;
  border: 3px solid var(--color-background-2);
  color: var(--color-background-2);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1;
}

.sample--title {
  color: var(--color-background-2);
  text-transform: capitalize;
}

.sample--text {
  color: white;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.sample--logo {
  height: auto;
  width: 90%;
  justify-self: center;
}

@media (hover: none) {
  .sample {
    &:hover {
      border-radius: 50%;
    }
    &:hover .sample--description {
      opacity: 0;
    }
  }

  .sample--description {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .sample--description {
    gap: 6px;
    padding: 8px 12px;
  }

  .sample--title {
    font-size: 1.25rem;
  }
}

@media (max-width: 450px) {
  .sample--description {
    gap: 6px;
    padding: 5px;
  }

  .sample--title {
    font-size: 1.125rem;
  }

  .sample--text {
    font-size: 1rem;
  }
}
