.workflow {
  --padding: 80px;
  padding-top: var(--padding);
}

.workflow--header {
  display: grid;
  justify-content: center;
  gap: 36px;
}

.workflow--title {
  text-align: center;
  max-width: 600px;
}

.workflow--text {
  text-align: center;
}

.slider-wrapper {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.slider {
  height: 600px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 40px 0;
}

.slider--list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.slider--card {
  position: absolute;
  min-width: 200px;
  max-width: 550px;
  height: 80%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: start;
  padding: 30px;
  padding-bottom: 20px;
  background: linear-gradient(
    135deg,
    var(--color-background-1),
    var(--color-background-4)
  );
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #01579b;
  text-align: start;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.6s ease;
}

.slider--card-accent {
  color: var(--color-accent-2);
}

.slider--card-text {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.slider--card-image {
  justify-self: end;
  align-self: end;
}

.card span {
  transform: translateY(0);
  transition: transform 0.6s ease;
}

.card:hover span {
  transform: translateY(-5px);
}

.slider-buttons {
  margin-top: 1rem;
}

.slider--button {
  --button-size: 60px;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--color-accent-1);
  z-index: 3;
  transition: opacity 0.2s, background-color 0.2s;
  &:hover {
    background-color: var(--color-background-7);
    & .slider--button-icon {
      fill: var(--color-background-1);
    }
  }
  &:disabled {
    background-color: #bdbdbd;
    opacity: 0.5;
    cursor: default;
    &:hover .slider--button-icon {
      fill: var(--color-text-2);
    }
  }
}

.button-left {
  left: 5%;
  transform: rotate(180deg);
}

.button-right {
  right: 5%;
}

.slider--button-icon {
  --size: 25px;
  height: var(--size);
  width: var(--size);
  fill: var(--color-text-2);
}

.slider-buttons button:hover:not(:disabled) {
  background-color: #1565c0;
  transform: scale(1.1);
}

@media (hover: none) {
  .slider--button {
    &:hover {
      background-color: var(--color-accent-1);
      & .slider--button-icon {
        fill: var(--color-text-2);
      }
    }
  }
}

@media (max-width: 1200px) {
  .slider--card-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 660px) {
  .slider {
    margin-top: 0;
  }

  .slider--list {
    padding: 0 20px;
  }
  .slider--card {
    padding: 20px;
    height: auto;
  }

  .slider--button {
    --button-size: 40px;
    top: 92%;
  }

  .button-left {
    left: 30%;
  }

  .button-right {
    right: 30%;
  }
}

@media (max-width: 430px) {
  .slider--card-text {
    font-size: 1.25rem;
  }
}
