.samples {
  display: grid;
  gap: 64px;
  background-color: var(--color-background-1);
  --padding: 80px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  margin-bottom: 400px;
}

.samples--title {
  text-align: center;
}

.samples--partners {
  display: grid;
  gap: 24px;
}

.samples--list-logos {
  display: grid;
  grid-auto-flow: column;
  justify-self: start;
  gap: 36px;
}

.samples--item-logo-link {
  display: block;
  &:hover .samples--image-logos {
    background-color: var(--color-background-7);
    transform: scale(1.1);
  }
}

.samples--image-logos {
  height: 50px;
  width: auto;
  object-fit: cover;
  padding: 10px 20px;
  background-color: var(--color-background-6);
  fill: white;
  border-radius: 20px;
  transition: background-color 0.2s, transform 0.2s;
}

.samples--list-colors {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 300px);
  gap: 46px;
}

.samples--item-colors {
  justify-self: center;
  height: 100%;
}

.samples--button {
  justify-self: center;
}

@media (hover: none) {
  .samples--item-logo-link {
    &:hover .samples--image-logos {
      background-color: var(--color-background-6);
      transform: none;
    }
  }
}

@media (max-width: 1300px) {
  .samples--item-colors {
    justify-self: center;
    height: auto;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .samples--list-colors {
    grid-template-rows: repeat(2, auto);
    gap: 32px 16px;
  }
}

@media (max-width: 950px) {
  .samples--list-logos {
    grid-template-rows: auto auto;
  }

  .samples--item-colors {
    justify-self: center;
    height: 100%;
  }

  .samples--list-colors {
    grid-template-rows: repeat(2, auto);
    gap: 32px 16px;
  }

  .samples--item-logo {
    justify-self: center;
  }

  .samples--item-colors:nth-child(4n) {
    display: none;
  }
}

@media (max-width: 660px) {
  .samples--partners {
    justify-content: center;
  }

  .samples--partners-title {
    text-align: center;
  }

  .samples--list-logos {
    gap: 16px;
  }

  .samples--image-logos {
    height: 40px;
  }

  .samples--list-colors {
    grid-template-rows: repeat(4, auto);
    gap: 32px 16px;
  }

  .samples--item-colors:nth-child(4n) {
    display: block;
  }
}

@media (max-width: 450px) {
  .samples--list-logos {
    gap: 8px;
  }

  .samples--image-logos {
    height: 35px;
  }

  .samples--list-colors {
    grid-template-rows: repeat(4, auto);
    gap: 32px 16px;
  }

  .samples--item-colors:nth-child(2n) {
    display: none;
  }
}
