.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 0 30px;
  margin: 140px 0;
}

.advantages--description {
  display: grid;
  gap: 64px;
  padding: 30px 0;
}

.advantages--button {
  justify-self: start;
}

.slider--container {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 150px;
  border-radius: 40px;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
}

.slider--inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.slider--image {
  position: relative;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 10.5;
  z-index: 1;
}

.dots {
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 2;
}

.dot {
  --size: 9px;
  width: var(--size);
  height: var(--size);
  margin: 0 5px;
  background-color: var(--color-background-1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0.3;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.4);
  }
}

.dot.active {
  background-color: var(--color-text-2);
  opacity: 0.8;
}

@media (hover: none) {
  .dot:hover {
    transform: none;
  }
}

@media (max-width: 1200px) {
  .advantages {
    margin: 80px 0;
  }

  .advantages--description {
    gap: 32px;
  }
}

@media (max-width: 850px) {
  .advantages {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    gap: 24px;
  }

  .advantages--description {
    gap: 24px;
    padding: 0;
  }

  .slider--container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .advantages--button {
    justify-self: center;
  }
}
