.header {
  position: fixed;
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  z-index: 8;
}

.header--logo-link {
  justify-self: start;
  &:hover .header--logo {
    fill: var(--color-accent-1);
  }
}

.header--logo {
  display: block;
  height: 68px;
  width: auto;
  fill: var(--color-text-2);
  transition: fill 0.2s;
}

.header--menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.header--menu-open {
  animation-name: open-menu;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.header--menu-hide {
  animation-name: hide-menu;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.header--list {
  display: flex;
  gap: 24px;
}

.header--link {
  color: rgb(51, 51, 51);
  font-family: var(--title-fonts);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  transition: color 0.2s;
  &:hover {
    color: var(--color-accent-1);
  }
}

.header--burger {
  display: none;
  background-color: transparent;
  padding-top: 2px;
}

.header--cross {
  display: none;
  background-color: transparent;
  padding-top: 2px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-accent-1);
    fill: var(--color-accent-1);
  }
}
@media (hover: none) {
  a:active {
    color: var(--color-accent-1);
    fill: var(--color-accent-1);
  }
}

@media (max-width: 1400px) {
  .header--logo {
    height: 48px;
  }

  .header--list {
    gap: 16px;
  }

  .header--link {
    font-size: 1.25rem;
  }
}

@media (max-width: 1150px) {
  .header--logo {
    height: 40px;
  }

  .header--link {
    font-size: 1.125rem;
  }

  .header--button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media (max-width: 860px) {
  .header--logo {
    height: 30px;
  }

  .header--list {
    gap: 12px;
  }

  .header--button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media (max-width: 660px) {
  .header {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .header--logo {
    height: 50px;
  }

  .header--menu {
    grid-auto-flow: row;
    justify-content: center;
    position: absolute;
    top: -350px;
    left: 0;
    width: 100vw;
    padding: 100px 20px 20px 20px;
    background-color: var(--color-background-2);
    z-index: -1;
  }

  .header--burger {
    display: block;
    justify-self: end;
    z-index: -2;
  }

  .header--cross {
    position: absolute;
    top: 33px;
    right: 20px;
    display: block;
  }

  .header--list {
    flex-direction: column;
  }

  .header--list li {
    text-align: center;
  }

  .header--link {
    font-size: 1.5rem;
  }

  .header--button {
    font-size: 1.25rem;
    padding: 14px 24px;
  }
}

@keyframes open-menu {
  0% {
    top: -350px;
  }

  100% {
    top: 0px;
  }
}

@keyframes hide-menu {
  0% {
    top: 0px;
  }

  100% {
    top: -350px;
  }
}
