.hero--wrapper {
  background-color: var(--color-background-4);
  padding: 120px 80px;
  border-radius: 70px;
}

.hero--head {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  gap: 64px;
  align-items: center;
}

.hero--title {
  position: relative;
  animation-name: title;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.hero--subtitle {
  position: relative;
  animation-name: subtitle;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.hero--list {
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
  align-items: center;
  margin-top: 64px;

  position: relative;
  animation-name: list;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.hero--link {
  display: block;
  border-radius: 40px;
  transition: border-radius 0.2s;
  &:hover .hero--image {
    filter: blur(2px);
  }
  &:hover .hero--link-inner {
    border-radius: 50%;
    box-shadow: 0px 6px 50px -6px var(--color-accent-2);
  }
  &:hover .hero--image-button {
    opacity: 1;
  }
}

.hero--link-inner {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 40px;
  transition: border-radius 0.2s, box-shadow 0.2s;
}

.hero--image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.2s;
}

.hero--image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-3);
  font-size: 1.25rem;
  background-color: var(--color-background-5);
  padding: 14px 24px;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.2s;
  white-space: nowrap;
}

@media (max-width: 1250px) {
  .hero--wrapper {
    padding: 80px 40px;
  }

  .hero--head {
    gap: 30px;
  }
}

@media (max-width: 850px) {
  .hero--wrapper {
    padding: 30px;
    padding-top: 50px;
  }

  .hero--head {
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
  }

  .hero--subtitle {
    max-width: 70%;
  }
}

@media (max-width: 660px) {
  .hero {
    padding: 0;
  }

  .hero--wrapper {
    padding: 50px;
    padding-top: 70px;
    border-radius: 0;
  }

  .hero--subtitle {
    max-width: 100%;
  }

  .hero--list {
    grid-auto-flow: row;
    gap: 40px;
    margin-top: 40px;
  }

  .hero--image-button {
    top: 85%;
    font-size: 1.5rem;
    opacity: 1;
  }
}

@media (max-width: 550px) {
  .hero--wrapper {
    padding: 50px 30px;
  }

  .hero--image-button {
    top: 83%;
  }
}

@media (max-width: 430px) {
  .hero--wrapper {
    padding: 50px 20px;
  }

  .hero--list {
    grid-auto-flow: row;
    gap: 20px;
    margin-top: 40px;
  }

  .hero--image-button {
    top: 80%;
    font-size: 1.25rem;
  }
}

@keyframes title {
  0% {
    right: 50vw;
  }

  100% {
    right: 0;
  }
}

@keyframes subtitle {
  0% {
    left: 50vw;
  }

  100% {
    left: 0;
  }
}

@keyframes list {
  0% {
    top: 80vh;
  }

  100% {
    top: 0;
  }
}
