@media (max-width: 1540px) {
  .container {
    padding: 0px 30px;
  }
}

@media (max-width: 1200px) {
  h1,
  h2 {
    font-size: 2.75rem;
  }
  .text {
    font-family: "Inter", "Lato", sans-serif;
    color: var(--color-text-2);
    font-size: 1.25rem;
  }
}

@media (max-width: 1000px) {
  h1,
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 860px) {
  .container {
    padding: 0px 18px;
  }
}

@media (max-width: 660px) {
  .container {
    padding: 0px 50px;
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0px 30px;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 0px 20px;
  }

  h1,
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }

  .text {
    font-size: 1.25rem;
  }
}
