.portfolio {
  --padding: 80px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--color-background-1);
}

.portfolio--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  align-items: center;
  margin-top: 64px;
}

.portfolio--link {
  display: block;
  border-radius: 40px;
  transition: border-radius 0.2s;
  &:hover .portfolio--image {
    filter: blur(2px);
    opacity: 1;
  }

  &:hover .portfolio--image-button {
    opacity: 1;
  }
  &:hover .portfolio--image-title {
    opacity: 0;
  }
  &:hover .portfolio--filter {
    opacity: 0;
  }
}

.portfolio--link-inner {
  position: relative;
  aspect-ratio: 16 / 10;
  overflow: hidden;
  border-radius: 40px;
  transition: border-radius 0.2s, box-shadow 0.2s;
}

.portfolio--image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.2s, opacity 0.2s;
  z-index: 1;
}

.portfolio--filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-5);
  opacity: 0.4;
  z-index: 1;
  transition: opacity 0.2s;
}

.portfolio--image-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-3);
  font-size: 2.5rem;
  white-space: nowrap;
  transition: opacity 0.2s;
  z-index: 2;
}

.portfolio--image-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-1);
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--color-accent-1);
  padding: 14px 24px;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.2s;
  white-space: nowrap;
  transition: 0.2s;
  z-index: 1;
}

.portfolio--link {
  display: block;
  border-radius: 40px;
  transition: border-radius 0.2s;
  &:hover .portfolio--image {
    filter: blur(2px);
    opacity: 1;
  }
}

@media (hover: none) {
  .portfolio--link:hover {
    & .portfolio--image {
      filter: none;
    }

    & .portfolio--link-inner {
      border-radius: 40px;
      box-shadow: none;
    }

    & .portfolio--image-button {
      opacity: 0;
    }

    & .portfolio--filter {
      opacity: 0.4;
    }

    & .portfolio--image-title {
      opacity: 1;
    }
  }
}

@media (max-width: 1200px) {
  .portfolio--image-title {
    font-size: 1.875rem;
  }
}

@media (max-width: 850px) {
  .portfolio--image-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 660px) {
  .portfolio--list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    margin-top: 40px;
  }

  .portfolio--image-title {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .portfolio {
    --padding: 50px;
  }

  .portfolio--image-title {
    font-size: 1.5rem;
  }
}
